@import "tailwindcss";

@plugin "daisyui";

@utility btn {
  height: inherit;
  font-size: inherit;
}

@layer utilities {
  .input, .select, .textarea {
    && {
      display: block;
      height: unset;
      line-height: 1;
      outline: none;
      box-shadow: none;
    }
  }
  :focus, :focus-visible, :focus-within {
    outline: none;
  }
  input:focus, input:focus-within, select:focus, select:focus-within {
    box-shadow: unset;
    border-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);
  }
}

:root {
  font-size: 16px;
  font-weight: 400;
  font-family: Outfit;
  line-height: 1.25;
  color-scheme: light;

  --page-horizontal: 16px;
}

/* The dark mode also uses the normal style */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    color-scheme: light;
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(45% 0.24 277.023);
    --color-primary-content: oklch(93% 0.034 272.788);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
  }
}

@media (width >= 768px) {
  :root {
    --page-horizontal: 32px;
  }
}

@font-face {
  font-family: 'Outfit';
  src: url(@/assets/fonts/Outfit-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

html, body {
  height: 100%;
}
.scrollbar-hide {
	-ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
:where( :root:has( .modal-open, .modal[open], .modal:target, .modal-toggle:checked, .drawer:not(.drawer-open) > .drawer-toggle:checked ) ) {
  scrollbar-gutter: unset;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.page-align {
  padding-left: var(--page-horizontal);
  padding-right: var(--page-horizontal);
}
.layout-content {
  padding: 16px 12px;
  border-radius: 24px;
  box-shadow: 0px 4px 60px 0px #0000000D;
  background-color: white;
  .padding {
    padding: 16px 12px;
  }
  @media (width >= 768px) {
    padding: 24px;
    .padding {
      padding: 24px;
    }
  }
}
.app-shadow {
  background-color: white;
  box-shadow: 0px 4px 60px 0px #0000000D;
}
.app-box-shadow {
  background-color: rgba(0, 0, 0, 0.00002);
  box-shadow: 0px 4px 60px 0px #0000000D;
}
